$bg-color: #3a6b89;
$fonts-color: #d9d9d9;
$icon-color: #00a2ff;
$timeline-color: #ccbf96;
$link-color: #2dc8d699;
$box-color: #3a567128;
$line-color: #a0a0a0;
$btn-color: #f5c3c3;
$fas-color: #24ebeb;
