* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

[data-mode=light] {
  --primary-color: #3a6b89;
  --fonts-color: #d9d9d9;
}

[data-mode=dark] {
  --primary-color: #0a0e13;
  --fonts-color: #d9d9d9;
}

.show {
  display: none;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--primary-color);
  min-height: 100vh;
  color: var(--fonts-color);
  line-height: 1.3;
}

.bx {
  cursor: pointer;
  padding: 5px;
}

.container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr;
  border-width: 1px;
  border-style: solid;
  -o-border-image: linear-gradient(to bottom, #1f3e4f, rgba(0, 0, 0, 0)) 1 100%;
     border-image: linear-gradient(to bottom, #1f3e4f, rgba(0, 0, 0, 0)) 1 100%;
}
.container .left_side {
  position: relative;
  padding: 20px 10px;
  background-image: linear-gradient(to center, rgba(237, 242, 245, 0.2392156863), rgba(255, 255, 255, 0.6470588235));
  -webkit-backdrop-filter: blur(4.6px);
          backdrop-filter: blur(4.6px);
}
.container .right_side {
  position: relative;
  padding: 20px 10px;
  -webkit-backdrop-filter: blur(4.6px);
          backdrop-filter: blur(4.6px);
}

.title {
  position: relative;
  color: #c7c414;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.title::before {
  content: "";
  top: 50%;
  right: 0;
  width: 30%;
  position: absolute;
  margin: 0 auto;
  height: 1px;
  background: #a0a0a0;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  border-bottom: 1px solid rgba(160, 160, 160, 0.3);
}
.profile .profile_img {
  max-height: 300px;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}
.profile .profile_text {
  text-align: center;
  margin: 20px 0;
}

.contact {
  padding-top: 60px;
}
.contact p {
  font-size: 18px;
  font-weight: 300;
  padding-right: 5px;
}
.contact li {
  list-style: none;
}
.contact .contact-text {
  margin: 10px 0;
}
.contact .contact-text a {
  color: #d9d9d9;
  text-decoration: none;
}

.fas {
  color: #00a2ff;
  font-size: 20px;
  margin-right: 20px;
}

.languages {
  margin-top: 60px;
}
.languages li {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  max-width: 170px;
}
.languages p {
  margin-top: 10px;
  padding-right: 1px;
}

.interest {
  margin-top: 60px;
  line-height: 1;
}
.interest p {
  margin-top: 20px;
}

.contact p a {
  position: relative;
}

.contact p a::after {
  content: "";
  position: absolute;
  background-color: rgba(45, 200, 214, 0.6);
  width: 80%;
  height: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  transform-origin: bottom left;
  transition: transform 0.2s cubic-bezier(1, 0, 0.5, 1.65);
}

.contact p a:hover::after,
.contact p a:focus::after {
  height: 60%;
  transform: scale(1.3, 1.8);
}

.aboutme-content {
  border-bottom: 1px solid rgba(160, 160, 160, 0.3);
}
.aboutme-content p {
  font-size: 18px;
  margin: 20px 0;
}

.timeline-section .timeline-items {
  position: relative;
  margin-left: 100px;
  margin-top: 20px;
}
.timeline-section .timeline-item {
  margin-bottom: 20px;
  padding: 8px;
  position: relative;
  background: rgba(58, 86, 113, 0.1568627451);
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.15);
  -webkit-backdrop-filter: blur(4.9px);
          backdrop-filter: blur(4.9px);
}

.timeline-item::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: -20px;
  left: -20px;
  width: 0;
  height: 100%;
  border: 1px solid #00a2ff;
}

.timeline-items::before {
  content: "";
  position: absolute;
  top: 0;
  left: -20px;
  width: 0;
  height: 100%;
  border: 1px dashed;
}

.top {
  position: absolute;
  top: 0;
  height: 12px;
  width: 12px;
  background-color: #00a2ff;
  left: -25px;
  border-radius: 50%;
}

.bottom {
  position: absolute;
  bottom: -2px;
  height: 12px;
  width: 12px;
  background-color: #00a2ff;
  left: -25px;
  border-radius: 50%;
}

.timeline-date {
  color: #ccbf96;
}
.timeline-date span:first-child {
  position: absolute;
  top: -5px;
  left: -100px;
}
.timeline-date span:last-child {
  position: absolute;
  bottom: -3px;
  left: -100px;
}

.timeline-content p:first-child {
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 700;
}
.timeline-content p:last-child {
  font-size: 16px;
  font-weight: 300;
}

.skills__box {
  margin-top: 20px;
  padding: 10px;
  font-size: 18px;
  position: relative;
  background: rgba(58, 86, 113, 0.1568627451);
  border-radius: 5px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6), 0 0 20px rgba(36, 59, 85, 0.7);
  -webkit-backdrop-filter: blur(4.9px);
          backdrop-filter: blur(4.9px);
}

.detail {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 10px;
}
.detail .details_title {
  display: flex;
}

.bar {
  position: relative;
  background-color: rgba(255, 255, 255, 0.062745098);
  padding: 4px 8px;
  border-radius: 20px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  margin-bottom: 20px;
}

.bar div {
  position: relative;
  width: 0;
  height: 7px;
  border-radius: 20px;
  background-color: rgba(217, 217, 217, 0.8196078431);
  border: 1px solid #23759b;
  box-shadow: 0 0 6px rgba(28, 151, 252, 0.6);
}

.project {
  position: relative;
}
.project__container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-content: center;
  align-items: center;
  max-width: 100%;
  margin-top: 20px;
  gap: 1em;
}
.project__container--about {
  padding: 10px 0;
  letter-spacing: 1px;
  font-size: 0.8rem;
}
.project__container--box {
  display: flex;
  flex-direction: column;
  padding: 10px;
  min-width: 100%;
  min-height: 220px;
  background: rgba(58, 86, 113, 0.1568627451);
  border-radius: 20px;
  border: solid rgba(246, 248, 249, 0.031372549) 1px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6), 0 0 15px rgba(255, 255, 255, 0.1); /* soft light glow */
  -webkit-backdrop-filter: blur(4.9px);
          backdrop-filter: blur(4.9px);
  overflow: hidden;
}
.project__container--box .btn {
  position: relative;
  margin-top: auto;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  color: #d9d9d9;
  border: solid rgba(180, 221, 247, 0.3098039216) 1px;
  cursor: pointer;
  color: white;
  padding: 10px 20px;
  font-family: "Roboto";
  font-size: 13px;
  border-radius: 20px;
  display: inline-block;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5), 0 0 10px rgba(36, 59, 85, 0.7);
  transition: transform 0.2s, box-shadow 0.2s;
}
.project__container--box .btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.6), 0 0 15px rgba(36, 59, 85, 0.9);
  background: rgba(255, 255, 255, 0.898); /* glassy white */
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px); /* frosted glass effect */
  color: black; /* text color */
}
.project__header {
  letter-spacing: 2px;
}

#html-bar {
  animation: html-fill 2s forwards;
}

@keyframes html-fill {
  100% {
    width: 80%;
  }
}
#css-bar {
  animation: css-fill 2s forwards;
}

@keyframes css-fill {
  100% {
    width: 70%;
  }
}
#saas-bar {
  animation: saas-fill 2s forwards;
}

@keyframes saas-fill {
  100% {
    width: 70%;
  }
}
#java-bar {
  animation: java-fill 2s forwards;
}

@keyframes java-fill {
  100% {
    width: 55%;
  }
}
@media (min-width: 710px) {
  .bx {
    display: none;
  }
  body {
    background: linear-gradient(to bottom, #2f3b49 0%, #050609 50%, #243b55 100%);
  }
  .container {
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 35px rgba(0, 0, 0, 0.1019607843);
  }
  .skills__box {
    margin-left: 100px;
  }
  .project__container {
    margin-left: 100px;
    grid-template-columns: repeat(2, 1fr);
  }
}
button {
  width: 100px;
  height: 100px;
}/*# sourceMappingURL=style.css.map */